body{
    font-family: "didot";
   background-color: white;
     
  }
  
  p{
    font-size: 13px;
    line-height: 15cm;
    text-align: center;

  }
  ul{
    list-style-type: none;
    margin: 1cm;
    padding: 0;
    overflow: hidden;
    float: right;
    text-align: left;
    

  }
  li{
    
    overflow: hidden;
    
 
  }
  a{
    color: black;
    text-decoration: none;
    
   
  }
  
  li a{
    color:black;
    padding: 20px 20px;
    display:block;
    width: 90px;
   }
   li a:hover {
    background-color: rgb(0, 0, 0);
    color:white;
    
   }

   .namelink {font-size: 35px;

   }

   img{
    width: 700px;
    display:block;
    margin-top: 1.5cm;
    margin-left: 7cm;
    margin-right: 7cm;
   }
